
/**
 * @file
 * media-mpx CSS.
 *
 */
.media-mpx-wrapper table {
  margin: 0;
}
.media-mpx-wrapper tr td,
.media-mpx-wrapper tr th {
  border: 0;
}
.mpx-inactive {
  border: 4px solid red !important;
}
